<!-- Header -->
				<header id="header">
					<%= image_tag "logo1.png", style: 'height:5rem;width:auto;'%>
					<nav id="nav">
						<ul>
							<li><a href="index.html">Servicios</a></li>
							<li><a href="elements.html">Nosotros</a></li>
							<li><a href="#" class="button primary">Contacto</a></li>
						</ul>
					</nav>
				</header>